<!-- <app-deshbord></app-deshbord> -->

<router-outlet></router-outlet>







<!-- 

<form class="newForm" #newForm="ngForm" [formGroup]="myform" (ngSubmit)= "onSubmit()"  >
        <div class="login-form-head">
            <h4>Add Your Promo_Code</h4>
            <p>Hello there, Add Promo_Code in and start managing your Admin Template</p>
        </div>

        <div class="login-form-body">
            <div class="form-gp">
                <label for="email"><b>Promo_Code____</b></label>
                <input type="text" required  class="form-control" name="pcode" placeholder="Promo_Code" formGroupName="pcode" >
                <div *ngIf="pcode.invalid && (pcode.dirty || pcode.touched)"
                class="alert alert-danger">
              <div *ngIf="pcode.errors.required">
                 Promo_Code is required.
              </div>
            </div>
            </div>

            <div class="form-gp">
                <label for="email"><b> Promo_Code_Discount</b></label>
                <input type="text" required class="form-control" name="pcodedis"  placeholder="Promo_Code_Discount"  formGroupName="pcodedis">
                <div *ngIf="pcodedis.invalid && (pcodedis.dirty || pcodedis.touched)"
                class="alert alert-danger">
              <div *ngIf="pcodedis.errors.required">
                 Promo_Code_Discount is required.
              </div>
            </div>
            </div>

            <div class="form-gp">
                <label for="email"><b>Promo_Code_Start_Date</b></label>
                <input type="date" required  class="form-control" name="pcsdate" placeholder="Promo_Code_Start_Date" formGroupName="pcsdate">
                <div *ngIf="pcsdate.invalid && (pcsdate.dirty || pcsdate.touched)"
                class="alert alert-danger">
              <div *ngIf="pcsdate.errors.required">
                 Promo_Code_Start_Date is required.
              </div>
            </div>
            </div>

            <div class="form-gp">
                <label for="email"><b>Promo_Code_End_Date</b></label>
                <input type="date" required  class="form-control" name="pcedate" placeholder="Promo_Code_End_Date"  formGroupName="pcedate">
                <div *ngIf="pcedate.invalid && (pcedate.dirty || pcedate.touched)"
                class="alert alert-danger">
              <div *ngIf="pcedate.errors.required">
                 Promo_Code_Start_Date is required.
              </div>
            </div>
            </div>

           
            <div class="submit-btn-area">
                <button type="submit"  class="btn btn-primary center-block"  [disabled]="newForm.form.invalid">Submit</button>
            </div>
        </div>
    </form> -->